@import '../components/variables';
@import '../components/mixins';
@import '../components/listas';

.fiestas--titulo{
    width: $t100;
    height: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.5)), url(../src/img/98.webp) ;
    background-position: $center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*  */
    display: flex;
    @include justifi-aling($center, $center);
    @include f-direction(column);
    color: nth($color , 1 );
    h1{
        font-size: $f100*2.5;
        font-weight: $fbolt;
    }
}

/* Carnaval */
.seccion-carnaval{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
            "pasarella pasarella ftexto";
    width: $f100;
    margin-top: 5px;
    margin-bottom: 5px;
    .pasarella{
        grid-area: pasarella;
        display: flex;
        @include f-direction(column);
        @include pos(relative);
        width: 100%;
        text-align: center;
        .f-pasarella_tit{
            background-color: nth($paleta-colores , 1 );
            color: nth($color , 2 );
            font-size: 150%;
            font-weight: $fbolt;
        }
        .f-pasarella_img{
            width: $t100;
        }
        .murgaYcarroza{
            display: flex;    
            @include f-direction(row);
            @include justifi-aling(center, none);
            width: $t100;
            @include pos(absolute);
            bottom: 0;
            margin-top: -20%;
            .myc{
                display: flex;
                @include f-direction(column);
                width: $t100*0.4;
                .myc-img{
                    width: $t100;
                }
                .myc-txt{
                    color: nth($color , 2 );
                    background-color: nth($paleta-colores , 1 );
                    font-size: $f100*1.5;
                }
            }
        }
    }
    .f-texto{
        grid-area: ftexto;
        display: flex;
        width: $t100;
        color: nth($color , 2 );
        text-align: center;
        font-size: $f100;
        p{
            background-color: nth($paleta-colores , 1 );
        }
    }
    
}

/* festividades */
.seccion-festividades{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    width: $t100;
    margin-top: 2%;
    .p-titulo{
        display: flex;
        @include justifi-aling(center, none);
        background-color: nth($paleta-colores , 1 );
        .f-color-tit{
            font-size: $f100*3;
            color: nth($color , 2 );
        }
    }
    .f-festividades{
        display: flex;
        @include justifi-aling(space-around, center);
        width: $t100;
        margin-top: 2%;
        .fest-descripcion{
            width: $t100*0.4;
            text-align: center;
            transition: 0.5s;
            &:hover{
                transition: 0.5s;
                background-color: nth($paleta-colores , 1 );
                transform: scale(1.2);
            
            }
            .fest-tit{
                color: nth($color , 2 );
                font-size: $f100*2;
            }
            .fest-txt{
                color: nth($color , 2 );
                font-size: $f100*1.1;
            }
        }
        .fest-img{
            width: $t100*0.4;
            .fest-img_tamaño{
                width: $t100;
            }
        }
    }
}





