@import '../components/listas';
@import '../components/mapas';
@import '../components/variables';

.footer{
    margin-top: 1%;
    grid-area: footer;
    display: map-get($footer , display );
    justify-content: space-between;
    align-items: map-get($footer , align-items );
    background-color: nth($paleta-colores, 3);
    padding: 1%;

    /* logo y frase */
    .logo--container{
        display: map-get($footer , display );
        justify-content: flex-start;
        align-items: map-get($footer , align-items );
        width: 33.3%;
        a{
            display: map-get($footer , display );
            text-decoration: none;
            .footer--logo{
                display: inline;
                width: 100%;
                height: 100%;
            }
        }
        .footer--nom{
            display: inline-block;
            font-size: 120%;
            color: white;
            transition: 1s;
            &:hover{
                transition: 1s;
                font-size: 160%;
                font-style: italic;
            }
        }
        .footer--frase{
            display: inline-block;
            font-size: 100%;
            color: white;
            transition: 1s;
            &:hover{
                transition: 1s;
                font-size: 120%;
                font-style: italic;
            }
            /* fin logo y frase */
        }
    }
    .redes-container{
        /* iconos de redes */
        display: map-get($footer , display );
        width: 33.3%;
        justify-content: center;
        align-items: map-get($footer , align-items );
        .redes{
            display: inline-block;
            margin: 2%;
            text-align: map-get($footer , text-align );
            color: white;
            font-size: 200%;
            transition: 1s;
            &:hover{
                color: #EEE4AB;
                font-size: 250%;
                transition: 1s;
            }
        }
        /* fin iconos de redes */
    }
    .padre_derchautor{
        /* derechos de autor */
        color: white;
        text-align: end;
        transition: 2s;
        h2,h3,h4{
            font-size: 70%;
        }
    }
}
