@import '../components/mixins';
@import '../components/variables';
@import '../components/listas';
@import '../components/extend';
/* bandera */
.bandera{
    display: flex;
    @include justifi-aling(center, none);
    @include pos(relative);
    width: $t100;
    color: nth($color , 1 );
    h1{
        @include pos(absolute);
        font-size: $f100*4;
        font-weight: $fbolt;
        text-shadow: rgba(0, 0, 0, 0.518);
    }
    .bandera-img{
        width: $t100;
    }
}

/* historia */
.historia{
    /* seccion de historia */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: $t100;
    background: rgb(224,0,26);
    background: linear-gradient(0deg, rgba(224,0,26,1) 25%, rgba(2,84,46,1) 75%);
    margin-top: -4%;
    margin-bottom: -4%;
    .historia-art{
        /* articulos de Historia */
        display: flex;
        width: $t100;
        @include pos(relative);
        .historia-part{
            /* obalos Historia  */
            display: flex;
            @include justifi-aling(center, center);
            border-radius: 20%;
            background-color: nth($paleta-colores , 1 );
            width: $t100 * 0.5;
            text-align: center;
            z-index: 2;
            .img-catedral{
                width: $t100*0.3;
                padding: 2%;
            }
            .historia-img{
                @extend %dinblock;
                width: $t100 * 0.5;
                padding: 2%;
            
            }
            .historia-txt{
                @extend %dinblock;
                width: $t100 * 0.4;
                padding: 3% 2% 3% 2%;
                text-align: center;
                color: nth($color , 2 );
            }
        }
        .escarapela{
            /* escarapela */
            @extend %dinblock;
            @include pos(absolute);
            z-index: 1;
            top: -45%;
            left: 40.5%;
            width: 19%;
            .escarapela-img{
                width: $t100;
            }
        }
    }
}


