@import '../components/variables';
@import '../components/mixins';
@import '../components/listas';

.mapa{
    background-color: nth($paleta-colores , 1 );
    width: $t100;
    .mapa-google{
        width: $t100;
        height: 50vh;
    }
    .p-tit{
        color: nth($color , 2 );
        font-size: $f100*3;
        text-align: center;
    }
}

/* indicaciones */
.indicaciones{
    display: flex;
    @include justifi-aling(center, center);
    width: $t100;
    padding: 2%;
    .indicaciones-img{
        display: inline-block;
        width: $t100*0.5;
        .img-provincia{
            background-color: nth($paleta-colores , 1 );
            width: $t100;
        }
    }
    .indicaciones-txt{
        display: inline-block;
        width: $t100*0.4;
        padding: 1% 2% 1% 2%;
        text-align: center;
        background-color: nth($paleta-colores , 1 );
        color: nth($color , 1 );
        font-size: $f100*1.5;
    }
}
/* img */


/* texto */
