@import '../components/mixins';
@import '../components/variables';
@import '../components/listas';



/* presentacion */
.t-lugares{
    background-color: nth($paleta-colores , 1 );
    display: flex;
    @include f-direction(column);
    width: $t100;
    padding: 1%;
    
    .p-titulo{
        display: flex;
        width: $t100;
        margin: auto;
        .p-tit{
            text-align: $center;
            margin: auto;
            color: nth($color , 1 );
            font-size: $f100*4;
        }
    }
    .t-texto{
        display: flex;
        color: nth($color , 1 );
        margin: 2% 20% 2% 20%;
        font-size: $f100;
        p{
            text-align: justify;
        }
    }
}

/* secciones de los lugares */
.lugares{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);;
    .t-secciones{
        display: flex;
        @include f-direction(row);
        width: $t100;
        .t-img{
            /* imagenes */
            width: $t100*0.5;
            overflow: hidden;
            .t-imgenes{
                width: $t100;
                transition: 0.5s;
                object-fit: cover;
                &:hover{
                    transform: scale(1.2);
                    transition: 0.5s;
                }
            }
        }
        .t-txt{
            /* textos de las imagenes */
            display: flex;
            @include f-direction(column);
            width: $t100*0.5;
            text-align: $center;
            @include justifi-aling(none, $center);
            color: nth($color , 1 );
            margin: auto;
            p{
                width: $t100;
                font-size: $f100*1.2;
                background-color: nth($paleta-colores , 1 );
                padding: 1%;
                margin: 0%;
            }
        }
    }
}
